# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment directories
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Editor and OS-specific files
*.log
.DS_Store
.idea/
.vscode/

archive/
.env
