accelerate==1.5.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==3.7.1
attrs==25.3.0
av==14.2.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
fastapi==0.104.1
filelock==3.17.0
frozenlist==1.5.0
fsspec==2025.3.0
h11==0.14.0
httptools==0.6.4
huggingface-hub==0.29.3
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
mpmath==1.3.0
multidict==6.1.0
networkx==3.4.2
numpy==2.2.3
packaging==24.2
Pillow==10.0.0
propcache==0.3.0
psutil==7.0.0
pydantic==2.4.2
pydantic_core==2.10.1
python-dotenv==1.0.1
python-multipart==0.0.6
PyYAML==6.0.2
qwen-vl-utils==0.0.10
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
setuptools==76.0.0
sniffio==1.3.1
starlette==0.27.0
sympy==1.13.1
tokenizers==0.21.1
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers @ git+https://github.com/huggingface/transformers@42ebb6c23e61119f769d7c7c067d5b4ae10e4a7f
typing_extensions==4.12.2
urllib3==2.3.0
uvicorn==0.23.2
uvloop==0.21.0
watchfiles==1.0.4
websockets==15.0.1
yarl==1.18.3
